@charset "utf-8";
/* CSS Document */


.teaser-text-animation span, .teaser-text-animation-2 span, .teaser-text-animation-3 span, .teaser-text-animation-4 span, .teaser-text-animation-5 span {
color: #009966;
}

#intro-title {
color: #009966;
}

a {
color: #009966;
}

p a {
color: #009966;
}

.awesome {
color: #009966;
}

.submit:after {
background: #009966;
}

#form .error {
color: #009966;
}


@-webkit-keyframes glow {
    0% {
		border-color: #009966;
		box-shadow: 0 0 5px rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,0.1)
    }	
    100% {
		border-color: #009966;
		box-shadow: 0 0 20px rgba(255,255,255,0.6), inset 0 0 10px rgba(255,255,255,0.4)
    }
}
@-moz-keyframes glow {
    0% {
		border-color: #009966;
		box-shadow: 0 0 5px rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,0.1)
    }	
    100% {
		border-color: #009966;
		box-shadow: 0 0 20px rgba(255,255,255,0.6), inset 0 0 10px rgba(255,255,255,0.4)
    }
}
@-o-keyframes glow {
    0% {
		border-color: #009966;
		box-shadow: 0 0 5px rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,0.1)
    }	
    100% {
		border-color: #009966;
		box-shadow: 0 0 20px rgba(255,255,255,0.6), inset 0 0 10px rgba(255,255,255,0.4)
    }
}
@-ms-keyframes glow {
    0% {
		border-color: #009966;
		box-shadow: 0 0 5px rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,0.1)
    }	
    100% {
		border-color: #009966;
		box-shadow: 0 0 20px rgba(255,255,255,0.6), inset 0 0 10px rgba(255,255,255,0.4)
    }
}
@keyframes glow {
    0% {
		border-color: #009966;
		box-shadow: 0 0 5px rgba(255,255,255,0.2), inset 0 0 5px rgba(255,255,255,0.1)
    }	
    100% {
		border-color: #009966;
		box-shadow: 0 0 20px rgba(255,255,255,0.6), inset 0 0 10px rgba(255,255,255,0.4)
    }
}


#subscribe input#submit {
background: #009966;
border: 1px solid #009966;
}

ul#countdown li span.seconds {
color: #009966;
}

ul#countdown li p.timeRefSeconds {
color: #009966;
}

.options-head {
background: #009966;
}